# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List of the popular languages for Data Science
- List of the commonly libraries by Data Science
- Data Science's Tools
- Arithmetic expressions

*Some of the popular languages that Data Science use are:*

1. Python
2. R
3. SQL
4. Java
5. Scala

*Some of the commonly used libraries by Data Science include:*

1. Panda
2. NumPy
3. SciPy
4. Matplotlib
5. Jupyter Notebook

| **Data Science Tools** |
| -------------------- |
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in python

6

4+5

8-4

5*8

6*(4+5)

*This is a simple arithmetic expression to multiply then add integers*

In [1]:
(3*4)+5

17

*This will convert 200 minutes to hours by diving by 60*

In [2]:
200/60

3.3333333333333335

## Autor
Luz Saldana